.status-selector {
    text-align: center;
    margin-top: 20px;
  }
  
  .status-selector h2 {
    font-size: 14px; /* Reduce the font size */
    margin-bottom: 10px; /* Adjust margin if needed */
  }
  
  .status-button {
    padding: 3px 6px; /* Reduce padding */
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    margin: 3px; /* Reduce margin */
    font-size: 10px; /* Reduce font size */
  }
  
  .status-button.active {
    font-weight: bold;
  }
  
  .absent { background-color: red; color: white; }
  .lead { background-color: orange; color: black; }
  .busy { background-color: yellow; color: black; }
  .available { background-color: green; color: white; }
  
  .active {
    border: 3px solid black;
  }
